.git
.gitignore
.venv
.vscode
.idea
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
*.log
.pytest_cache
.coverage
node_modules
dist
build
test_contracts/results
test_contracts/Results
test_contracts/Secure_SourceCodes
test_contracts/Vulnerable_SourceCodes
